{% extends "common.html" %}
{% block titlename %}
Nanachi
{% endblock %}
{% block content %}
<h1>Best Trace List</h1>
<div>
    <form method="post" action="{{ url_for('best_traces') }}">
        <button>Submit!</button>
    </form>
    <input type="checkbox" id="autoscorer" {{'checked' if autoscorer else ''}}><label for="autoscorer">オートスコアラーの数値を使う</label>
    <script>
        document.getElementById('autoscorer').addEventListener('click', (e) => {
            window.location = `${window.location.protocol}//${window.location.host}${window.location.pathname}?autoscorer=${e.target.checked}`;
        });
    </script>
</div>
<div>
    <table class="table" id="trace-list">
    <thead>
    <tr>
        <th>Problem Name</th>
        <th>Trace ID</th>
        <th>Energy</th>
        <th>Ranking best (team)</th>
        <th>Author</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    {% for trace in traces %}
    <tr style="{{ 'background-color: lightpink' if trace['energy_to_use'] and trace['ranking_energy'] and trace['energy_to_use'] < trace['ranking_energy'] else '' }}">
        <td><a href="{{ url_for('problem_summary', name=trace['problem_name']) }}">{{ trace['problem_name'] }}</a> </td>
        <td><a href="{{ url_for('trace_summary', trace_id=trace['trace_id']) }}">{{ trace['trace_id'] }}</a> </td>
        <td>{{ "%.3E"|format(trace['energy_to_use'] or 0) }}</td>
        <td>{{ ("%.3E (%s)" % (trace['ranking_energy'], trace['ranking_name'])) if trace['ranking_name'] or ''}}</td>
        <td>{{ trace['author'] }}</td>
        <td>{{ trace['comment'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#trace-list').DataTable();
    } );
</script>
{% endblock %}