{% extends "common.html" %}
{% block titlename %}
Nanachi
{% endblock %}
{% block content %}
<h1>Model {{ name }}</h1>
<div>
    <a href="{{ url_for('model_blob', name=name) }}">Download mdl file</a>
    {% if model %}
    <h2>Summary</h2>
    <table class="table">
    <thead>
    <tr>
        <td>R</td>
        <td>Fill</td>
        <td>#Components</td>
        <td>#Void spaces</td>
        <td>Max Depth</td>
    </tr>
    </thead>
    <tbody>
        <td>{{ model.r }}</td>
        <td>{{ model.fill_count }}</td>
        <td>{{ model.num_components }}</td>
        <td>{{ model.num_void_spaces }}</td>
        <td>{{ model.max_depth }}</td>
    </tbody>
    </table>
    {% endif %}
</div>

<h1>Trace List</h1>
<div>
    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Energy</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    {% for trace in traces %}
    <tr>
        <td><a href="{{ url_for('trace_summary', trace_id=trace['trace_id']) }}">{{ trace['trace_id'] }}</a></td>
        <td>{{ trace['energy'] }}</td>
        <td><a href="{{ url_for('trace_blob', trace_id=trace['trace_id']) }}">nbt file</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}