{% extends "common.html" %}
{% block titlename %}
Nanachi
{% endblock %}
{% block content %}
<h1>Problem List</h1>
<div>
    <table class="table" id="problem-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Problem Type</th>
        <th>Src Model</th>
        <th>Tgt Model</th>
        <th>Best trace</th>
    </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
    <tr>
        <td>
            <a href="{{ url_for('problem_summary', name=problem['name']) }}">{{ problem['name'] }}</a>
        </td>
        <td>{{ problem['type'] }}</td>
        <td>
            {% if problem['src_name'] %}
            <img src="http://tools.kadingel.osak.jp/saverwing/thumbnails/{{problem['src_name']}}.mdl-up-45deg.png" width="100">
            {% endif %}
        </td>
        <td>
            {% if problem['tgt_name'] %}
            <img src="http://tools.kadingel.osak.jp/saverwing/thumbnails/{{problem['tgt_name']}}.mdl-up-45deg.png" width="100">
            {% endif %}
        </td>
        <td>
            
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#problem-list').DataTable();
    } );
</script>
{% endblock %}