{% extends "common.html" %}
{% block titlename %}
Nanachi
{% endblock %}
{% block content %}
<h1>Trace {{ trace["id"] }}</h1>
<h2>Summary</h2>
<table class="table">
<thead>
<tr>
    <td>Problem</td>
    <td>Submit Time</td>
    <td>Energy</td>
    <td>Author</td>
    <td>Comment</td>
    <td>Autoscorer</td>
</tr>
</thead>
<tbody>
    <td><a href="{{ url_for('problem_summary', name=trace['name']) }}">{{ trace['name'] }}</a></td>
    <td>{{ trace.submit_time_string }}</td>
    <td>{{ trace.energy }}</td>
    <td>{{ trace.author }}</td>
    <td>{{ trace.comment }}</td>
    <td>{{ trace.energy_autoscorer }}</td>
</tbody>
</table>
<div>
    {% if trace['s3url'] %}
        <a href="{{ trace['s3url'] }}">Download nbt file (This is actually a raw nbt file regardless of extension)</a>
    {% else %}
        <a href="{{ url_for('trace_blob', trace_id=trace['id']) }}">Download nbt file</a>
    {% endif %}
</div>
{% endblock %}