{% extends "common.html" %}
{% block titlename %}
Nanachi
{% endblock %}
{% block content %}
<h1>Trace {{ trace["id"] }}</h1>
<h2>Summary</h2>
<table class="table">
<thead>
<tr>
    <td>Submit Time</td>
    <td>Author</td>
    <td>Comment</td>
</tr>
</thead>
<tbody>
    <td>{{ trace.submit_time_string }}</td>
    <td>{{ trace.author }}</td>
    <td>{{ trace.comment }}</td>
</tbody>
</table>
<div>
    <a href="{{ url_for('model_summary', name=trace['name']) }}">Model</a>
</div>
<div>
    <a href="{{ url_for('trace_blob', trace_id=trace['id']) }}">Download nbt file</a>
</div>
{% endblock %}